.card {
    word-wrap: break-word;
    border-radius: 16px;
    margin: 2rem;
    background-color: rgb(255, 255, 255);
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .15);
}

.card-header {
    border-radius: 16px;
    padding: 2rem;
    background-color: #3B4A1C;
}

.card-title {
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
    color:white;
}

.card-img {
    background: rgba(255, 255, 255, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 150px;
}

.card-body {
    width: 100%;
}

.card-listgroup {
    list-style: none;
}

.card-listitem {
    margin: 10px;
    padding: 10px;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}

.btn-stats {
    font-size: 1.2rem;
    width: 100%;
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 0px 0px 16px 16px;
    background-color: #824896;
    color: white;
}

.btn-stats:hover, .btn-stats-active {
    background-color: rgba(130, 72, 150, .75);
}