.filter-navbar {
    padding-top: 83px;
    /* background-color: rgba(0, 0, 0, .15); */
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); */
}

.search-bar-container {
    align-self: center;
    padding: 10px;
}

.searchbox {
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(72, 83, 232);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#limit-per-page {
    padding: 10px;
}

.label-filterNavbar {
    font-size: 1rem;
    padding: 1rem;
    color: rgb(0, 0, 0);
}

/* 
.btn-limit {

} */

.btn-limit:hover, .btn-limit-active {
    background-color: rgb(84, 172, 232);
}