.filter-navbar {
    padding-top: 83px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-bar-container {
    align-self: center;
    padding: 10px;
}

.searchbox {
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #824896;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#limit-per-page {
    padding: 10px;
}

.label-filterNavbar {
    font-size: 1rem;
    padding: 1rem;
    color: rgb(0, 0, 0);
}

.directions {
    padding: 1rem;
}