/* The Modal (background) */
.modal {
  position: fixed; 
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  overflow: auto;
}

/* Modal Content */
.modal-content {
  border-radius: 16px;
  margin: auto;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 1);
  max-width: 700px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.modal-header {
  padding: 10px;
  border-radius: 16px;
  background-color: #989e8c;
  text-transform: capitalize;
  text-align: center;
}

.modal-body {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-footer {
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center;
}

.btn-modal-close {
  background-color: #824896;
  color: white;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.btn-modal-close:hover {
  background-color: rgba(130, 72, 150, .75);
}

.statistics-table {
  max-width: 45%;
}

.statistics-table td {
  padding: 10px;
}

.statistics-table tr:nth-child(odd) {
  background-color: rgb(231, 231, 231);
}

.statistics-table .header {
  font-weight: bold;
}
