/* The Modal (background) */
.modal {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  overflow: auto;
}

/* Modal Content */
.modal-content {
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.modal-header {
  padding: 10px;
  border-radius: 16px;
  background-color: #989e8c;
  text-transform: capitalize;
  text-align: center;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  padding: 5px;
  color: white;
  display: flex;
  justify-content: left;
}

.btn-modal-close {
  background-color: #824896;
  color: white;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.btn-modal-close:hover {
  background-color: rgba(130, 72, 150, .75);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
